.profile {
    margin: 0 20px;
    min-width: 500px;
}

.profile__tenantContainer {
    background-color: #1F1F1F;
    color: white;
    padding: 20px;
}

.profile__intro {
    display: flex;
}

.profile__intro h3 {
    padding-left: 10px;
    margin: 0;
}

.profile__tenantData {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.profile__tenantData ul li {
    padding: 7px 0;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.btn {
    background-color: #FD5B01 !important;
    color: white !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    margin-bottom: 7px !important;
    font-family: inherit !important;
}

.btn:hover {
    background-color: white !important;
    color: #FD5B01 !important;
}

.profile__imageInput {
    display: none;
}

.upload__image-wrapper{
    cursor: pointer;
}

.image-item img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}