.main {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .main {
    flex-wrap: wrap-reverse;
  }
}

.main__apartmentList {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.main__viewChoiceButtons {
  margin-left: 20px;
  margin-top: 20px;
}
