.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__icon {
  height: 100px;
  width: 80px;
  margin-left: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
  margin-right: 80px;
}
