.suggestedApartment {
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.7);
  transition: transform 100ms ease-in;
  height: 500px;
  width: 400px;
  
}

.suggestedApartment:hover {
  transform: scale(1.07);
}

.suggestedApartment img {
  object-fit: fill;
  width: 400px;
  height: 270px;
  width: 100%;
}

.suggestedApartment__info {
    margin-top: -9px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}

.suggestedApartment__info h2 {
  font-size: 18px;
  font-weight: 600;
}

.suggestedApartment__info h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}

.suggestedApartment__info a {
  display: block;
  margin: 10px 0 20px 0;
}

.suggestedApartment__info th {
  padding-right: 25px;
}

.favouriteIcon {
  float: right;
}
